*{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
a:link
{
    text-decoration: none;

}
body{
    overflow: scroll;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
}
/* Nav Bar related */
.nav-bar
{   background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;

}
.nav-bar-title
{   display: block;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: auto;
    flex-grow: 1;
    color: white;
    padding-left: 3rem;

}
.nav-bar-link
{
    margin: 1rem;;
    font-weight: bolder;
    transition: .2s;
    padding: .3rem;

}
.nav-bar-link:hover
{
    text-decoration: underline;
    background-color: white;
    color: black;

}
.nav-bar-link-selected
{
    text-decoration: underline;
}
/*Nav Bar related End*/

/*Index Page and Main */
.main
{   flex-grow: 1;
    color: black;
    flex-direction: column;
    justify-content: center;
    display: flex;
    
    
}
.main-index-section
{   color: black;
    display: flex;
    margin-top: 1rem;

    justify-content: center;
}
.h1
{
    font-size: 3rem;
    font-weight: bolder;
}
.p
{
    font-size: 1.2rem;
    font-weight: bold;
}
.main-index-section-button
{   font-size: 1rem;
    font-weight: bold;
    border: black solid .2rem;
    color: black;
    border-radius: 1rem;
    padding: .5rem;
    margin-left: 1.5rem;


}
.main-index-section-button:hover
{
    background-color: black;
    color: white;
}
/*End of Main Page*/

.footer
{   padding: .5rem;
    display: flex;
    background-color: black;

    justify-content: center;
}

/*places page start*/
.main-place
{
    justify-content: start;
}
.main-places-cards
{   
    display: flex;
    justify-content: space-around;
    
    flex-flow: wrap;
}

.main-places-card
{   border: solid black .5rem;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    max-width: 300px;
}
.main-places-header
{   font-size: 24px;
    font-weight: bolder;
    background-color: black;

    text-align: center;
    color: white;
    padding: .3rem;
}
.main-places-content
{   margin: .5rem;
    color: black;
    display: flex;
    text-align: center;
    font-weight: bolder;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-places-img
{  object-position: center;
    object-fit: cover;
    width: 100%;
    
}
/*End of places page*/

/*Start of contact page */
.main-contact
{   color: black;
    justify-content: start;
    align-items: center;
}

.main-contact-form
{   color: black;
    display: flex;
    background-color:transparent;
    border: .5rem solid ;
    padding-left: 2rem;
    padding-right:2rem ;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin: 1rem;
    
}
.contact-header
{   color: black;
    font-weight: bolder;
    font-size: 2.5rem;
}
.contact-form-name
{   text-align: center;
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
}
.contact-form-element
{
    margin-bottom: 2rem;
}

input[type='text']
{
    color:black;font-size: 1.2rem;
    
}

.contact-form-submit
{   outline: none;
    border: solid black .3rem;
    background-color: black;
    font-weight: bold;
    border: solid black 1;
    border-radius: 1rem;
    padding: 1rem;
    transition: .2s;
}

.contact-form-submit:hover
{   border: solid black.3rem;
    background-color: white;
    color: black;
    padding: 1rem;
}

/*End of Contant Page */

/*Start of services Page*/

.main-service
{
    justify-content: start;
}

.main-service-cards
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.main-service-card
{   margin-bottom: 1rem;
    display: flex;
    border: .5rem black solid;
    flex-direction: row;
    flex-grow: 1;
    max-width: 800px;
    
}
.main-service-header
{   min-width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: black;
}
.main-service-content
{   font-size: 1.2rem;
    padding: 1rem;
    background-color: transparent;
    color:white;
    font-weight: bold;
}
